
gallery-card {
  margin-left: 0px;
  margin-right: 0px;
}

.gallery-card img {
  overflow: hidden;
}

.swiper-slide {
  text-align: left;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  max-height: 80%;
  min-height: 50%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
} 

.image-overlay img {
  z-index: 5;
  max-width: 40%;
  max-height: 40%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

ion-card-content p{
  font-size: 20px;
}

.sc-ion-card-md-h {
    width: 100%;
}

.button-bar {
  padding: 5px;
  height: 50px;
  background-color: yellowgreen;
}
