<ion-header translucent color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ gallery?.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="gallery-card" *ngIf="gallery !== undefined" fullscreen [scrollEvents]="true" style="height: 100vh" (ionScroll)="onScroll($event)" >
  <ion-slides>
      <ion-slide >
          <ion-card >
              <!-- <ion-card-content> -->
                
                <ion-card-header color="primary">
                  <ion-card-title >{{ gallery?.name }}</ion-card-title>
                  
                </ion-card-header>
                <img
                [src]="gallery.filepath"
                [hidden]="loaded"
              />
                <ion-card-content>
                 <p [innerHTML]=gallery?.description></p>  
                </ion-card-content>

                <!-- <ion-row>
                    <ion-col><img src="/assets/swipe-helper.gif"/> </ion-col>
                    <ion-col class="ion-justify-content-center">Swipe to navigate>></ion-col> 
                </ion-row> -->
                
                <ion-row class="button-bar">
                  <ion-col size-md="3"  class="ion-text-left" >
                    <div >
                      <ion-button fill="clear" color="dark" size="small" (click)="likeIt(gallery)" ><ion-icon name="thumbs-up"></ion-icon></ion-button>
                      <ion-badge color="primary">{{likeCount}}</ion-badge>
                      <ion-button fill="clear" color="dark" size="small" (click)="openModal(gallery)"><ion-icon name="text"></ion-icon></ion-button> 
                      <ion-badge color="primary">{{commentCount}}</ion-badge>
                    </div>
                  </ion-col>

                  <ion-col size-md="3"  class="ion-text-right" >
                 </ion-col>
              
                </ion-row>
              <!-- </ion-card-content> -->
            </ion-card>
      </ion-slide>
      
    <ion-slide *ngFor="let data of gallery?.images" id="{{ data.name }}">
      <ion-card >
        <ion-card-header color="primary">
          <ion-card-subtitle >{{ data.name }}</ion-card-subtitle>
          <!-- <ion-card-subtitle>{{ data.description }}</ion-card-subtitle> -->
        </ion-card-header>
          <img
            [src]="data.filepath"
            (load)="loaded = true"
            [hidden]="!loaded"
          />
          <!-- <img src="{{data.filepath}}" [hidden]="loaded" /> -->
          
          <ion-card-content>
            <p [innerHTML]=data.description></p>  
          </ion-card-content>
   
          <ion-row class="button-bar">
            <ion-col size-md="3"  class="ion-text-left" >
              <div >
                <ion-button fill="clear" color="dark" size="small" (click)="likeIt(gallery)"><ion-icon name="thumbs-up"></ion-icon></ion-button>
                <ion-badge color="primary">{{likeCount}}</ion-badge>
                <ion-button fill="clear" color="dark" size="small" (click)="openModal(gallery)"><ion-icon name="text"></ion-icon></ion-button> 
                <ion-badge color="primary">{{commentCount}}</ion-badge>
              </div>
            </ion-col>

            <ion-col size-md="3"  class="ion-text-right" >
             </ion-col>
          </ion-row>
        <!-- </ion-card-content> -->        
      </ion-card>

    </ion-slide>
  </ion-slides>
  <!-- <button ion-button *ngIf="slides.i()">Next</button> -->
  <!-- <ion-footer height=10px>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button> <ion-icon name="share"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="primary" (click)="shareIt('twitter', gallery)">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="shareIt('facebook', gallery)">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="primary" (click)="shareIt('whatsapp', gallery)">
        <ion-icon color="success" name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    </ion-fab>
</ion-content>