<ion-header translucent color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/user/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ gallery?.name }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="gallery-card" *ngIf="gallery !== undefined" fullscreen>
  <ion-slides>
      <ion-slide >
          <ion-card >
              <!-- <ion-card-content> -->
                
                <ion-card-header>
                  <ion-card-title >{{ gallery?.name }}</ion-card-title>
                  <!-- <ion-card-subtitle>{{ data.description }}</ion-card-subtitle> -->
                </ion-card-header>
                <ion-card-content>
                 <p [innerHTML]=gallery?.description></p>  
                </ion-card-content>

                <ion-row>
                    <ion-col><img src="/assets/swipe-helper.gif"/> </ion-col>
                    <ion-col justify-content-center>Swipe to navigate>></ion-col> 
                </ion-row>
                <ion-row class="button-bar">
                  <ion-col>
                    <ion-icon name="thumbs-up"></ion-icon> <ion-label>12</ion-label>
                  </ion-col>
                  <ion-col> <ion-icon name="text"></ion-icon>4 </ion-col>
                  <ion-col> <ion-icon name="share-alt" (click)="shareLink(gallery)"></ion-icon > Share </ion-col>
                </ion-row>
              <!-- </ion-card-content> -->
            </ion-card>
      </ion-slide>
      
    <ion-slide *ngFor="let data of gallery?.images" id="{{ data.name }}">
      <ion-card >
        <!-- <ion-card-content> -->
          <img
            [src]="data.filepath"
            (load)="loaded = true"
            [hidden]="!loaded"
          />
          <img src="{{data.filepath}}" [hidden]="loaded" />
          <ion-card-header>
            <ion-card-title >{{ data.name }}</ion-card-title>
            <!-- <ion-card-subtitle>{{ data.description }}</ion-card-subtitle> -->
          </ion-card-header>
          <ion-card-content>
            <p [innerHTML]=data.description></p>  
          </ion-card-content>
          <ion-row class="button-bar">
            <ion-col>
              <ion-icon name="thumbs-up"></ion-icon> <ion-label>12</ion-label>
            </ion-col>
            <ion-col> <ion-icon name="text"></ion-icon>4 </ion-col>
            <ion-col> <ion-icon name="share-alt" (click)="shareLink(gallery)"></ion-icon > Share </ion-col>
          </ion-row>
        <!-- </ion-card-content> -->
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- <ion-footer height=10px>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer> -->
</ion-content>