


gallery-card {
  margin-left: 0px;
  margin-right: 0px;
}

.gallery-card img {
  //max-height: 35vh;
  overflow: hidden;
}

.swiper-slide {
  text-align: left;
}
// .header {
//     height: 20px;
//     padding: 10px;
//     color:red;
//     font-size: 4rem !important; // Default should be 2.0rem
//   }

//   .sub-header {
//     height: 40px;
//   }

//   ion-card-header {
//     height: 30px;
//     padding: 10px;
//     background-color: rgba(18, 22, 27, 0.404);
//     font-weight: 200;
//     }

.button-bar {
  padding: 5px;
  height: 50px;
  background-color: yellowgreen;
}
