<p>
  grid-list works! here 
  <ion-list>
    <ion-item *ngFor="let gallery of data" >
    <ion-label>
       <a href="/gallery?id={{gallery.id}}"> <h2>{{gallery.name}}</h2> </a>
        <p>{{gallery.description}}</p>
      </ion-label> 
       <!-- <ion-icon name="remove-circle-outline" (click)="deleteItem(gallery)"></ion-icon>
      <ion-icon name="create" (click)="editItem(gallery)"></ion-icon>
      <button ion-button clear (click)="deleteTask(i)">
          <ion-icon name="trash"></ion-icon>
        </button> -->
  </ion-item>
</ion-list>
</p>
