<p>
  <ion-list-header color='secondry'>
    <ion-label>{{label}}</ion-label> <ion-chip> <ion-icon [hidden]="isGrid" name="grid" (click)="toggleIcon()"  ></ion-icon> <ion-icon [hidden]="!isGrid" name="list" (click)="toggleIcon()" ></ion-icon></ion-chip>
    <!-- <ion-item-devider></ion-item-devider> -->
  </ion-list-header>
  <ion-list [hidden]="isGrid">
    <ion-item *ngFor="let gallery of data" >
    <ion-label>
       <a (click)="clickLink(gallery.id)"> <h3>{{gallery.name}}</h3> </a>
      </ion-label> 
  </ion-item>
</ion-list>
<ion-grid [hidden]="!isGrid">
    <ion-row>
      <ion-col *ngFor="let gallery of data">
        <div>
          <ion-label>
            <a href="/gallery?id={{gallery.id}}"> <h3>{{gallery.name}}</h3> </a>
           </ion-label> 
        </div>
      </ion-col>
    </ion-row>
</ion-grid>
</p>
