
  <ion-list-header>
    <ion-label>{{label}}</ion-label> <ion-chip> <ion-icon [hidden]="isGrid" name="grid" (click)="toggleIcon()"  ></ion-icon> <ion-icon [hidden]="!isGrid" name="list" (click)="toggleIcon()" ></ion-icon></ion-chip>
    <!-- <ion-item-devider></ion-item-devider> -->
  </ion-list-header>
  <ion-list [hidden]="!isGrid">
    <ion-item class="custom-item" *ngFor="let gallery of data" >
      <ion-thumbnail slot="start" >
        
        <ion-img class="height:100%" (click)="clickLink(gallery.id)" alt="{{gallery.name}}" [src]="getThumbImage(gallery)">
      </ion-img>
     
      </ion-thumbnail>
    <ion-label>
        <a (click)="clickLink(gallery.id)"> <h2>{{gallery.name}}</h2> </a>
    </ion-label> 
      <!-- <p>{{gallery.description}}</p> -->
      <ion-icon name="create" (click)="editItem(gallery)"></ion-icon>
</ion-item>
</ion-list>
<!-- <ion-slides paginationType="bullets" [hidden]="!isGrid" >
  <ion-slide *ngFor="let gallery of data">
    <img class="thumbnail" src="{{gallery.images[0].filepath}}" />
    <ion-label>
      <a (click)="clickLink(gallery.id)"> <h4>{{gallery.name}}</h4> </a>
      </ion-label> 
  </ion-slide>
</ion-slides> -->

<ion-slides [options]="slideOptions" [hidden]="isGrid" pager>
  <ion-slide *ngFor="let gallery of data">
    <ion-card class="gallerycard"  (click)="clickLink(gallery.id)" >
      <ion-card-header style="height: fit-content; padding: 5px" color="primary">
        <ion-card-subtitle>{{gallery.name}}</ion-card-subtitle>
      </ion-card-header>
      <ion-img class="thumbnail" [src]="getThumbImage(gallery)"  >
    </ion-img>
      </ion-card>
  </ion-slide>
</ion-slides> 