ion-list-header{
    background: linear-gradient(60deg,#ffa726,#fb8c00);
    border-bottom: thin darkgrey;
}

ion-slide {
    width: 150px;
    height: 100px;
    padding: 0px;
    ion-card {
        width: 150px;
        height: 100px;
    }
}