ion-list-header{
    background: linear-gradient(60deg,#4c8dff,#28e070);
    border-bottom: thin darkgrey;
}

  ion-slide {
    width: auto;
    display: block;
    text-align: left;
}

ion-slides {
    margin-bottom: 10px;
    margin-top: 10px;
}

  .thumbnail {
    height: 100%;
  }