<ion-header>
  <ion-header>
    <ion-toolbar>
      <ion-title>{{gallery.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="homepage()">
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-header>
<div *ngIf="percentage | async as pct">
    <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
  </div>
  <div *ngIf="snapshot | async as snap">
    <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes"></div>
  </div>
<ion-content>
  <ion-card>
      <ion-item>
          <ion-label position="floating">Sequence</ion-label>
          <ion-input  [(ngModel)]="currentImage.sequence"></ion-input>
        </ion-item>
         <ion-item [hidden]="!currentImage.filepath" >
            <img src="{{currentImage.filepath}}" />
        </ion-item>
    <ion-item>
  
      <ion-label>Select Image</ion-label>
      <input
        id="uploadBtn"
        type="file"
        class="upload"
        (change)="addImages(currentImage.sequence, $event.target.files)"
      />
    </ion-item>
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input  [(ngModel)]="currentImage.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-textarea [(ngModel)]="currentImage.description"></ion-textarea>
    </ion-item>
     <img width="150px"/>
    <ion-row class="button-bar">
        <ion-col>
          <ion-button (click)="saveGallery()"> Save Gallery</ion-button> 
        </ion-col>
        <ion-col> <ion-button (click)="addNext()"> Save and Add </ion-button> </ion-col>
      </ion-row>
  </ion-card>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" (click)="presentModal()"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-footer> </ion-footer>
