<ion-header>
  <ion-toolbar>
    <ion-title>
      {{user?.displayName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="{{user.bannerURL}}" alt="" />
    <!-- <ion-card-header >
        <ion-card-title>{{user.email}}</ion-card-title>
      </ion-card-header>  -->
    <div class="profile-card">
      <ion-row >
        <img src="{{user.photoURL}}" />
        <div *ngIf="user.displayName!=undefined; else email">
          <h4>
            &nbsp; {{user?.displayName}}
          </h4>
        </div>
        <ng-template #email>
          <h4>
            &nbsp; {{user?.displayName}}
          </h4>
        </ng-template>
      </ion-row>
      <ion-row>
        <p>&nbsp; {{user?.info}}</p>
      </ion-row>
      <ion-row class="sharebox">
        <ion-col>
          {{gallerylist.length}} Gallery
        </ion-col>
        <ion-col>
          Follow
        </ion-col>
        <ion-col>
          Following
        </ion-col>
      </ion-row>
    </div>
    
   <ion-slides [options]="slideOptions">
    <ion-slide *ngFor="let gallery of gallerylist">
      <ion-card  (click)="doClick(gallery.id)" >
        <ion-card-header color="primary">
          <ion-card-subtitle>{{gallery.name}}</ion-card-subtitle>
        </ion-card-header>
        <img class="thumbnail" src="{{gallery.images[0].filepath}}" />
        </ion-card>
    </ion-slide>
  </ion-slides> 

  </ion-card>
</ion-content>