<ion-content  class="ion-padding">
  <form [formGroup]="validationsForm" (ngSubmit)="login(validationsForm.value)">
    <ion-grid>
      <ion-row color="primary" lass="ion-justify-content-center">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input type="email" placeholder="your@email.com" formControlName="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="validationsForm.invalid" expand="block">Login</ion-button>
          </div>
          <label class="error-message">{{errorMessage}}</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center>
      If you don't have an account, please <a routerLink='/register'>
        register</a> first!
        </div>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>