<ion-header>
  <ion-toolbar>
    <!-- <ion-title>profile</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content  class="ion-padding">
  <form [formGroup]="validationsForm" (ngSubmit)="login(validationsForm.value)">
    <ion-card size-md="6" size-lg="5" size-xs="12">
<ion-header>
  <div text-center class="login-logo">
    <ion-icon name="book" style="font-size: xx-large;" ></ion-icon>
  </div>
  <div class="ion-text-center">
    <h3>Login</h3>
  </div>
</ion-header>
      <ion-row color="primary" justify-content-center>
        <ion-col class="ion-align-self-center" >
          <div class="ion-padding">
            <label color="danger">{{errorMessage}}</label>
            <ion-item>
              <ion-input type="email" placeholder="your@email.com" formControlName="email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button type="submit" [disabled]="validationsForm.invalid" expand="block">Login</ion-button>
          </div>
          <div class="ion-text-center">
            <label>Don't have an account? </label>
        <a routerLink='/register'>Register</a> <label> Its Free!</label> 
          </div>
        </ion-col>
      </ion-row>

  </ion-card>
  </form>
</ion-content>