
<ion-header translucent no-border>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon> Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="doSkip()">Skip<ion-icon slot="end" name="arrow-forward"></ion-icon> </ion-button> -->
      <ion-button (click)="doEdit()">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header [style.backgroundImage]="'url(' + profBannerImage + ')'">
        <ion-avatar align-self-center>
          <img src="https://pbs.twimg.com/profile_images/378800000107983641/e07f88f9eee6a64ab1cc0c69dd1ff314_400x400.jpeg" alt="">
        </ion-avatar>
        <!-- <div text-center>
          <h5>{{user?.displayName}}</h5>
          <h6>{{user?.location}}</h6>
        </div> -->
        <hr>
      </ion-card-header>
      <ion-card-content text-center>
        <div class="card-body">
          <h6> {{user?.displayName}}</h6>
          <h6> @ {{user?.email}}</h6>
    </div>
      </ion-card-content>
    </ion-card>
    <ion-card style="height: 100%;">
      <ion-card-header>{{user?.displayName}}</ion-card-header>
      <ion-card-content>
        <h6> {{user?.email}}</h6>
      <hr>
      <h6>  {{user?.phoneNumber}}</h6>
      <div *ngIf=user?.address> 
        <h6>{{user?.address.street}} </h6>
        <h6>{{user?.address.city}}  {{user?.address.state}} </h6>
        <h6>{{user?.address.country}}  {{user?.address.zip}} </h6>
</div>
      </ion-card-content>
      
    </ion-card>
    
  </ion-content>

<ion-footer>
  <ion-toolbar>
 </ion-toolbar>
</ion-footer>