

ion-card {
    // margin: 0 auto;
    // height: 175px;
    img {
        max-height: 35vh;
        overflow: hidden;
      }
ion-avatar { 
    width: 75px;  
    height: 75px;  
    position: relative;
    img {
        border-radius: 50%;
        position: absolute;
       // bottom: calc(-1*(120px)); // -42px;
        border: 2px solid #cccccc;
        background-color: #fff;
    }
}
// }
}

.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }

  .profile-card{
    border-top: thin solid #cccccc;
    text-align: left;
    padding-left: 10px;
  }