.welcome-card 
{  
img {
  max-height: 35vh;
  overflow: hidden;
  object-fit: cover;
}
}

.sharebox{
  border-top: thin solid #cccccc;
  text-align: left;
}

.profile-card {
  text-align: left;
  padding: 10px;
  img{
    width: 50px;
    height: 50px;
    object-fit:cover ;
    border-radius: 50%;
  }
}
