<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Enjoy</ion-card-subtitle>
        <ion-card-title>Welcome {{user.email}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
      <ion-grid>
          <ion-row>
            <ion-col>
              <a href="/gallery/list">Gallery</a>
            </ion-col>
            </ion-row></ion-grid>
    </ion-card>
</ion-content>