<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Back</ion-button>
      </ion-buttons>
      <ion-title>Comments</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button [disabled]="comment.content ===''" (click)="saveAndClose()">Save</ion-button>
      </ion-buttons> -->
    </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding">
    <div style="position: relative;">
      <ion-textarea  class="rounded-textarea" [(ngModel)]="comment.content" placeholder="Add your comment"></ion-textarea>
      <ion-button size="small"
      style="position: absolute; bottom: 5px; right: 5px; z-index: 2;"  
      (click)="saveAndClose()"> <ion-icon name="send"></ion-icon> </ion-button>
    </div>

    <ion-card *ngFor="let comment of comments" style="margin-left: 0%; margin-right: 0%;">
      <ion-row>
        <ion-avatar >
          <img src="{{comment.userAvatar}}">
        </ion-avatar>
        <ion-label style="margin: 10px;"> {{comment.userId}} 
          <ion-note slot="end" class="comment-timestamp"> {{comment.createdAt | date: shortDate }}</ion-note>
        </ion-label>
        
      </ion-row>
      <ion-item>
          <ion-label>
            <p style="white-space: pre-wrap;">{{comment.content}}</p>
          </ion-label>
    </ion-item>
  </ion-card>
  </ion-content>