
ion-textarea.rounded-textarea {
  border-radius: 10px;
  background: hsl(0, 0%, 61%);
  min-height: 100px;
  overflow-y: hidden;
  resize: none;
}
.rounded-textarea::-webkit-input-placeholder { /* For iOS Safari */
  color: #BFBFBF;
}
.rounded-textarea::placeholder {
  color: #BFBFBF;
}
.rounded-textarea:not(:focus) {
  height: auto !important;
  min-height: 100px;
}

  .comment-timestamp {
     font-size: 0.75rem;
     margin-top: 0.25rem;
   }


ion-note {
  font-size: 8px;
  align-self: flex-end;
  margin-top: 14px;
}